<%
var define = (typeof define === 'undefined') ? '' : define;
%>

<div class="l-nav__mega">
  <nav>
    <ul class="u-text-en">
      <li><a href="<%= siteurl %>" class="u-color-selection">top</a></li>
      <li><a href="<%= siteurl %>sample/" class="u-color-selection">section01</a></li>
      <li><a href="<%= siteurl %>form/" class="u-color-selection">section02</a></li>
      <li><a href="<%= siteurl %>sample/" class="u-color-selection">section01</a></li>
      <li><a href="<%= siteurl %>form/" class="u-color-selection">section02</a></li>
    </ul>
  </nav>
</div>
