<%
var define = (typeof define === 'undefined') ? '' : define;
var meta = (typeof meta === 'undefined') ? '' : meta;
if(meta) {
%>
<div class="l-breadcrumbs">
  <nav>
    <ol vocab="https://schema.org/" typeof="BreadcrumbList">
      <li property="itemListElement" typeof="ListItem">
        <a property="item" typeof="WebPage" title="ホーム" href="<%= siteurl %>">
          <span property="name">ホーム</span>
        </a>
        <meta property="position" content="1">
      </li>
      <% var parent = ''; %>
      <% for(i in meta.hierarchy) { %>
        <li property="itemListElement" typeof="ListItem">
          <% if (i < meta.hierarchy.length - 1) { %>
            <a property="item" typeof="WebPage" title="<%= meta.hierarchy[i].title %>" href="<%= siteurl + meta.hierarchy[i].link %>">
              <span property="name"><%= meta.hierarchy[i].title %></span>
            </a>
          <% } else { %>
            <span property="name"><%= meta.hierarchy[i].title %></span>
          <% } %>
          <meta property="position" content="<%= ++i + 1 %>">
        </li>
      <% } %>
    </ol>
  </nav>
</div>
<% } %>
