<%
var define = (typeof define === 'undefined') ? '' : define;
var meta = (typeof meta === 'undefined') ? '' : meta;
var siteSetting = (typeof siteSetting === 'undefined') ? '' : siteSetting;

// canonicalUrl
let canonicalUrl = ''
if(meta.hierarchy) {
  for (let i = 0; i < meta.hierarchy.length; i++) {
    canonicalUrl += meta.hierarchy[i].link;
  }
  canonicalUrl = meta.hierarchy[meta.hierarchy.length - 1].link
}

// title
var title = (meta.pageName === 'top') ? siteSetting.siteName : meta.title + '｜' + siteSetting.siteName;

// ogtype
var ogtype = (meta.pageName === 'top') ? 'website' : 'article';
%>

<!DOCTYPE html>
<html lang="ja">
<head prefix="og:http://ogp.me/ns#">
  <meta charset="utf-8">

  <!-- SEO -->
  <title><%= title %></title>
  <meta name="description" content="<%= meta.desc %>">
  <meta name="author" content="<%= siteSetting.metaAuthor %>">
  <link rel="shortcut icon" type="image/svg+xml" href="<%= siteurl %>assets/images/favicon.svg">
  <link rel="shortcut icon" sizes="32x32" href="<%= siteurl %>assets/images/favicon.ico">
  <link rel="apple-touch-icon" sizes="180x180" href="<%= siteurl %>assets/images/touch180.png">
  <link rel="canonical" href="<%= siteurl + canonicalUrl %>">

  <!-- Settings -->
  <meta name="viewport" content="width=device-width, viewport-fit=cover">
  <meta name="theme-color" content="<%= siteSetting.themeColor %>">

  <!-- SNS -->
  <meta property="og:site_name" content="<%= siteSetting.siteName %>">
  <meta property="og:title" content="<%= title %>">
  <meta property="og:description" content="<%= meta.desc %>">
  <meta property="og:type" content="<%= ogtype %>">
  <meta property="og:locale" content="ja_JP">
  <meta property="og:url" content="<%= siteurl + canonicalUrl %>">
  <meta property="og:image" content="<%= siteurl %>assets/images/ogpimg.png">
  <meta property="og:image:width" content="1200">
  <meta property="og:image:height" content="630">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="<%= siteSetting.metaTwitterSite %>">
  <meta name="twitter:creator" content="<%= siteSetting.metaTwitterCreator %>">

  <!-- Preload -->
  <link rel="preload" as="style" href="<%= siteurl %>assets/css/style.css?rev">
  <link rel="preload" as="script" href="<%= siteurl %>assets/js/bundle.js?rev">

  <!-- CSS -->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+New:wght@300;400;500&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500&display=swap" rel="stylesheet">
  <script>
    (function(d) {
      var config = {
        kitId: 'cha5als',
        scriptTimeout: 3000,
        async: true
      },
      h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src='https://use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
    })(document);
  </script>
  
  <link rel="stylesheet" href="<%= siteurl %>assets/css/style.css?rev">

  <%- include('../analytics/_head') %>
</head>

<body id="gotop" class="<%= meta.pageName %>">
<%- include('../analytics/_body') %>
<div class="l-body">
  <header class="l-header">
    <div class="l-header__inner u-h-max">
      <h1 class="txt u-text-en" id="js-mvfade01">
        <a href="<%= siteurl %>" class="u-v-lr">portfolio</a>
      </h1>
      <div class="c-hamburger js-hmb" role="button" id="js-mvfade02">
        <span></span>
        <span></span>
      </div>
      <div class="txt u-text-en l-lg" id="js-mvfade03">
        <span class="u-v-lr">nishikawa takeshi</span>
      </div>
    </div>
  </header>
  <div class="progress" id="js-progress">
    <div class="progress__bar"></div>
  </div>
  <div class="l-backlayer js-layer"></div>
  <div class="l-nav__mega">
    <nav>
      <ul class="u-text-en">
        <li class="anchor"><a href="#panel01" class="u-color-selection">top</a></li>
        <li class="anchor"><a href="#panel02" class="u-color-selection">section01_conceptart</a></li>
        <li class="anchor"><a href="#panel05" class="u-color-selection">section02_conceptworks</a></li>
        <li class="anchor"><a href="#panel07" class="u-color-selection">section03_illustration</a></li>
        <li class="anchor"><a href="#panel08" class="u-color-selection">section04_skeches</a></li>
        <li class="anchor"><a href="#panel10" class="u-color-selection">section05_freeworks</a></li>
        <li class="anchor"><a href="#panel11" class="u-color-selection">section06_profile</a></li>
      </ul>
    </nav>
  </div>
  <div class="l-wrapper">
    <div class="l-content">
