<%
var dir = './'
var define = (typeof define === 'undefined') ? '' : define
var pageData = {
  pageName: 'top',
  title: 'トップページ',
  desc: '西川 武志のポートフォリオサイトです。'
}
%>

<%- include(dir + 'inc/layout/_head', {meta: pageData}) %>
<!-- main -->
<main class="l-main">

    <div class="l-main--wrapper" id="wrapper">

      <!-- MV -->
      <section class="l-main-panel l-main-panel-01 panel" id="panel01">
        <div class="top-mv">
          <div class="top-mv__bg">
            <figure class="js-mvparallax01">
              <img src="/assets/images/top/mv_bg01.webp" alt="" id="js-mvbg-01">
            </figure>
            <figure class="js-mvparallax02">
              <img src="/assets/images/top/mv_bg02.webp" alt="" id="js-mvbg-02">
            </figure>
            <figure>
              <img src="/assets/images/top/mv_bg03.webp" alt="" id="js-mvbg-03">
            </figure>
            <div class="mv-bglayer" id="js-mvbglayer"></div>
          </div>
          <div class="top-mv__title">
            <p class="u-text-en mvtext"></p>
            <p class="u-text-en mvtext02"></p>  
          </div>
        </div>
      </section>

      <!-- パネル2枚目 コンセプトアート section01-conceptart01 -->
      <%- include(dir + 'inc/layout/_panel02', {meta: pageData}) %>

      <!-- パネル3枚目 コンセプトアート section01-conceptart02 -->
      <%- include(dir + 'inc/layout/_panel03', {meta: pageData}) %>
      
      <!-- パネル4枚目 コンセプトアート section01-conceptart03 -->
      <%- include(dir + 'inc/layout/_panel04', {meta: pageData}) %>

      <!-- パネル5枚目 コンセプトアート section01-conceptart04 -->
      <!-- <%- include(dir + 'inc/layout/_panel04_2', {meta: pageData}) %> -->
      
      <!-- パネル6枚目 コンセプトアート section02-conceptart01 -->
      <%- include(dir + 'inc/layout/_panel05', {meta: pageData}) %>

      <!-- パネル7枚目 コンセプトアート2 section02-conceptart02 -->
      <%- include(dir + 'inc/layout/_panel06', {meta: pageData}) %>

      <!-- パネル8枚目 その他の制作 section03-works01 -->
      <%- include(dir + 'inc/layout/_panel07', {meta: pageData}) %>

      <!-- パネル9枚目 その他の制作 section03-works02 -->
      <%- include(dir + 'inc/layout/_panel07_2', {meta: pageData}) %>

      <!-- パネル10枚目 デッサン section04-skeches01 -->
      <%- include(dir + 'inc/layout/_panel08', {meta: pageData}) %>

      <!-- パネル11枚目 静物着彩 section04-skeches02 -->
      <%- include(dir + 'inc/layout/_panel09', {meta: pageData}) %>
            <!-- パネル11枚目 静物着彩 section04-skeches02 -->
            <%- include(dir + 'inc/layout/_panel12', {meta: pageData}) %>
      
      <!-- パネル12枚目 その他趣味 section05-etc -->
      <%- include(dir + 'inc/layout/_panel10', {meta: pageData}) %>
      
      <!-- パネル13枚目 プロフィール section06-profile -->
      <%- include(dir + 'inc/layout/_panel11', {meta: pageData}) %>

    </div>
    <div class="modal-wrapper">
      <figure>
        <img src="/assets/images/ogpimg.png" alt="" class="modal-image">
        <figcaption id="modal-txt"></figcaption>
      </figure>
    </div>


</main>
<%- include(dir + 'inc/layout/_foot', {meta: pageData}) %>
