<%
var dir = './'
var define = (typeof define === 'undefined') ? '' : define
var pageData = {
  pageName: 'top',
  title: 'トップページ',
  desc: 'サンプルテキストです（150文字前後）。'
}
%>

<%- include(dir + 'inc/layout/_head', {meta: pageData}) %>
<!-- main -->
<main class="l-main">

    <div class="l-main--wrapper" id="wrapper">

      <!-- MV -->
      <section class="l-main-panel l-main-panel-01 panel" id="panel01">
        <div class="top-mv">
          <div class="top-mv__bg">
            <figure class="js-mvparallax01">
              <img src="/assets/images/top/mv_bg01.png" alt="" id="js-mvbg-01">
            </figure>
            <figure class="js-mvparallax02">
              <img src="/assets/images/top/mv_bg02.png" alt="" id="js-mvbg-02">
            </figure>
            <figure>
              <img src="/assets/images/top/mv_bg03.png" alt="" id="js-mvbg-03">
            </figure>
            <div class="mv-bglayer" id="js-mvbglayer"></div>
          </div>
          <div class="top-mv__title">
            <p class="u-text-en mvtext"></p>
            <p class="u-text-en mvtext02"></p>  
          </div>
        </div>
      </section>

      <!-- パネル2枚目 コンセプトアート section01-conceptart01 -->
      <%- include(dir + 'inc/layout/_panel02', {meta: pageData}) %>

      <!-- パネル3枚目 コンセプトアート section01-conceptart02 -->
      <%- include(dir + 'inc/layout/_panel03', {meta: pageData}) %>
      
      <!-- パネル4枚目 コンセプトアート section01-conceptart03 -->
      <%- include(dir + 'inc/layout/_panel04', {meta: pageData}) %>
      
      <!-- パネル5枚目 コンセプトアート section02-conceptart01 -->
      <%- include(dir + 'inc/layout/_panel05', {meta: pageData}) %>

      <!-- パネル6枚目 コンセプトアート2 section02-conceptart02 -->
      <%- include(dir + 'inc/layout/_panel06', {meta: pageData}) %>

      <!-- パネル7枚目 その他の制作 section03-works01 -->
      <%- include(dir + 'inc/layout/_panel07', {meta: pageData}) %>

      <div class="modal-wrapper">
        <img src="/assets/images/top/img-01.jpg" alt="" class="modal-image">
      </div>
    </div>

  <!-- Slider main container
  <div class="swiper">
    Additional required wrapper
    <div class="swiper-wrapper">
      Slides
      <div class="swiper-slide">Slide 1</div>
      <div class="swiper-slide">Slide 2</div>
      <div class="swiper-slide">Slide 3</div>
      ...
    </div>
    If we need pagination
    <div class="swiper-pagination"></div>

    If we need navigation buttons
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
    If we need scrollbar
    <div class="swiper-scrollbar"></div>
  </div> -->


</main>
<%- include(dir + 'inc/layout/_foot', {meta: pageData}) %>
